	body
	{
		background-image:			url('images/greyprint_sm.png');
		background-repeat:			repeat;
		background-size:			auto;
	}

.article {
  float: left;
  margin: 5px;
  padding: 20px 20px 20px 20px;
} 

	h1, h2, h3, h4,h5, h6
	{
		color: #FFFFFF;
		font-family: sans-serif;
	}
	
