body {
    background-image: url('images/blueprint_sm2.png');
	background-repeat: repeat;
}

.input_field {
   width: 200px;
   height: 33px;
   border: solid 2px #FFFFFF;
   padding: 2px;
   border-radius: 5px;
   font-size: 23px;
   box-shadow: 1px 1px 4px 0px #9C9C9C;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
   margin-bottom: 25px;
   width:75%;

  }
.input_field:focus  {
   border: solid 2px #F6892E;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
.input_field:active  {
   border: solid 2px #0043EB;
  }

.error_message {
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 5px;
	font-family: sans-serif;
	text-align:center;
}

.notification_message {
	font-weight: bold;
	color: #000000;
	padding-top: 5px;
	font-family: sans-serif;
	text-align:center;
}

input[type="button"],
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #969696;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 75%;
}

.btn:hover {
  background: #2f8ec9;
  text-decoration: none;
}

.btn2 {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #969696;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  white-space:nowrap;
  margin: 5px 5px 5px 5px;

}

.btn2:hover {
  background: #2f8ec9;
  text-decoration: none;
}