			
	#filter_module
	{
		height: 100px;
		overflow: auto; /* Optionally you can also use overflow: scroll; */

	}
	
	
	#new_client_module
	{
			position: absolute;
			display:inline-block;
			background-color: #FFFFFF;
			top:30%;
			font-size:1pt;
	}
	
		
	#generate_module
	{
			position: absolute;
			display:inline-block;
			background-color: #FFFFFF;
			top:30%;
			font-size:1pt;
	}
	
	#transfer_module
	{
			position: absolute;
			display:inline-block;
			background-color: #FFFFFF;
			top:30%;
			font-size:1pt;
	}